* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer {
    height: 80px;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #fff;
    justify-content: flex-start;
}

.container-footer{
    display: flex;
    justify-content: space-between;
    width: calc(50% + 396px / 2 );
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    gap: 5px;
}

.social-media {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-left: 10px;
    position: relative;    
}


.social-media a {
    display: flex;
    align-items: center;
    font-size: 30px;
    transition: all 300ms ease-in-out;
    color: #fff;
}

.social-media a fa-brands{
    color: #fff;
    transition: all 300ms ease-in-out;
}

.social-media a:hover {
    color: #00ADB5;
}

.info-text, .info-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.info-text div{
    text-align: center;
}

.info-text img{
    height: 20px;
    
}
.info-text .barra{
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width:800px) {
    body{
        height: auto;
    }

    footer{
        margin-top: 50px;
        height: auto;
    }
    .info{
        padding-top: 20px;
    }
    .info-text{
        flex-direction: column;
        padding: 10px;
    }
    
    .container-footer{
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
        padding-bottom: 20px;
    }
}