*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

::selection {
    background-color: #00969eb4;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}