.beneficios {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url(../../img/bg.png);
    margin-top: 100px;
    background-size: cover;
    background-position: 100% 40%;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 90px 0px 90px;
    /* gap: 300px; */
}

::selection {
    background-color: #00969eb4;
}

.text-content {
    max-width: 1200px;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.text-content h1 {
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 50px;
}

.text-content span {
    font-size: 64px;
    font-weight: bolder;
}


.text-content p {
    font-size: 32px;
    font-weight: 500;
    max-width: 800px;
    padding-bottom: 80px;
}

.btn-vagas {
    font-size: 32px;
    padding: 15px 50px;
    border-radius: 10px;
    border: none;
    color: #f5f5f5;
    font-weight: bold;
    background-color: #00979E;
    transition: all 300ms ease-in-out;
}

.btn-vagas:hover {
    background-color: #006f75;
}

/* Cards */

.cards-beneficios-container .list-cards {
    height: 500px;
    display: flex;
    width: 500px;
    gap: 0;
    list-style: none;
}

.cards-beneficios-container .list-cards button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

.cards-beneficios-container .list-cards button img {
    height: 120px;
}

.cards-beneficios-container .list-cards .cards1 {
    position: relative;
    height: 500px;
    width: 300px;
    background-color: #6BAAAE;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #f5f5f5;
    gap: 10px;
    padding: 50px;
}


.cards-beneficios-container .list-cards .cards1:nth-child(2) {
    display: flex;
}

.cards-beneficios-container .list-cards .cards1 img {
    height: 80px;
}

/* seção atuação */

.atuacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6BAAAE;
    color: #f5f5f5;
    min-height: 100vh;
}

.atuacao h2 {
    padding-top: 60px;
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.atuacao h3 {
    font-size: 1.5rem;
    font-weight: normal;
    padding-bottom: 30px ;
}

/* subseção */

.subsecao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.subsecao h2 {
    padding-top: 29px;
    font-weight: normal;
    font-size: 2.25rem;
}

.subsecao h2 span {
    font-weight: 800;
    color: #006f75;
}

.btn-vagas2 {
    text-decoration: none;
    color: #000;
    font-size: 1.25rem;
    margin-bottom: 36px;
    padding: 5px 20px;
}

.btn-vagas2::before {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    left: 0;
    right: 0;
    top: 27px;
    bottom: 0;
    height: 3px;
    background-color: #00979E;
    transition: all 300ms ease-in-out;
}

.btn-vagas2:hover:before {
    top: -5px;
}

/* slider 2 */
/**
    Container
  */
.carousel {
    position: relative;
    max-width: 1500px;
    height: 700px;
}

/**
    Controls (previous/next buttons)
  */
.button.is-control {
    background: 0;
    border: 0;
    padding: 0 10px;
    z-index: 1;
    cursor: pointer;

    font-size: 40px;
    color: rgba(0, 0, 0, .6);

    transition: all .2s linear;
}

.button.is-control:hover {
    color: rgba(0, 0, 0, 1);
}

.button.is-control:focus {
    outline: none;
    background-color: rgba(0, 0, 0, .8);
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
}

.previous-button {
    position: absolute;
    left: -100px;
    top: calc(100% / 2 - 30px);
}

.next-button {
    position: absolute;
    right: -100px;
    top: calc(100% / 2 - 30px);
}


/**
    Collection of all tiles
  */
.cards {
    overflow: hidden;
    width: calc(100% - 100px);
    margin-left: 50px;
}

.owl-stage {
    display: flex;
    padding: 2px 0;
    height: 700px;
    align-items: center;
    justify-content: center;
}


/**
    Single card
  */

.owl-item:not(:last-of-type) {
    margin-right: 100px;
    transform: scale(1.2);
}

.card {
    position: relative;
    height: 500px;
    width: 350px;

    overflow: hidden;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .2);

    text-decoration: none;
    color: rgba(0, 0, 0, .9);
    background-color: #f5f5f5   ;

    cursor: pointer;
    transition: all .1s linear;
}

.card span {
    text-decoration: none;
    text-align: center;
}

.card .image {
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

.card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.active:hover .image{
    display: none;
}

.card .title {
    margin: 0;
    padding: 20px 10px 20px 10px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.card .content {
    padding: 0 10px 5px 10px;
    transition: color .1s linear;
}

.card .content p {
    margin: 7px 0;
    font-size: 14px;
    opacity: .8;
}

.card .content .price {
    position: absolute;
    bottom: 8px;
}

.card .content .price .new-price {
    font-weight: bold;
}

.card .content .price .original-price {
    margin-left: 5px;
    font-size: 14px;
    font-style: italic;
    opacity: .5;
    text-decoration: line-through;
}

/* Hover state = add box shadow, underline the title */
.card:hover {
    border-color: rgba(0, 0, 0, .4);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
}

.card:hover .image img,
.card:focus .image img {
    filter: grayscale(0);
}

.card a:focus {
    outline: none;
}

/* Focus state = turn text blue, add large blue outline */
/* NOTE: :focus-within is not supported in IE11 or Edge as of Jan 2020. To add support, use a polyfill such as https://github.com/matteobad/focus-within-polyfill */
.card:focus-within {
    border-color: hsl(204, 86%, 53%);
    box-shadow: 0 0 0 2px hsl(204, 86%, 53%);
}

.card:focus-within .title,
.card:focus-within .content {
    color: hsl(217, 71%, 53%);
}

.card:focus-within .title {
    text-decoration: underline;
}

/** 
    Owl will still put some DOM elements (like previous/next buttons) in the DOM even when they aren't used, but with a class of `.disabled`. Let's hide them completely to avoid confusing people.
  */
.disabled {
    display: none;
}

.active{
    transition: all 300ms ease-in-out;
}

:not.active{
    transition: all 300ms ease-in-out;
}

